@font-face {
  font-family: 'fluff-icons';
  src: url('./fluff-icons.eot?0bb44a83ca2bda9df4161d474a26b94b#iefix')
      format('embedded-opentype'),
    url('./fluff-icons.woff2?0bb44a83ca2bda9df4161d474a26b94b') format('woff2'),
    url('./fluff-icons.woff?0bb44a83ca2bda9df4161d474a26b94b') format('woff');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: 'fluff-icons' !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive:before {
  content: '\f101';
}
.icon-arrow-down:before {
  content: '\f102';
}
.icon-arrow-left:before {
  content: '\f103';
}
.icon-arrow-right:before {
  content: '\f104';
}
.icon-arrow-up:before {
  content: '\f105';
}
.icon-calendar:before {
  content: '\f106';
}
.icon-chat:before {
  content: '\f107';
}
.icon-check:before {
  content: '\f108';
}
.icon-chevron-down:before {
  content: '\f109';
}
.icon-chevron-left:before {
  content: '\f10a';
}
.icon-chevron-right:before {
  content: '\f10b';
}
.icon-chevron-up:before {
  content: '\f10c';
}
.icon-cloud-download:before {
  content: '\f10d';
}
.icon-cloud-up:before {
  content: '\f10e';
}
.icon-cloud:before {
  content: '\f10f';
}
.icon-copy:before {
  content: '\f110';
}
.icon-cross:before {
  content: '\f111';
}
.icon-disks:before {
  content: '\f112';
}
.icon-download:before {
  content: '\f113';
}
.icon-edit:before {
  content: '\f114';
}
.icon-external:before {
  content: '\f115';
}
.icon-facebook-inverse:before {
  content: '\f116';
}
.icon-facebook:before {
  content: '\f117';
}
.icon-filter:before {
  content: '\f118';
}
.icon-gift:before {
  content: '\f119';
}
.icon-help:before {
  content: '\f11a';
}
.icon-home:before {
  content: '\f11b';
}
.icon-information:before {
  content: '\f11c';
}
.icon-internal:before {
  content: '\f11d';
}
.icon-link:before {
  content: '\f11e';
}
.icon-linkedin:before {
  content: '\f11f';
}
.icon-list:before {
  content: '\f120';
}
.icon-location:before {
  content: '\f121';
}
.icon-lock:before {
  content: '\f122';
}
.icon-logout:before {
  content: '\f123';
}
.icon-mail:before {
  content: '\f124';
}
.icon-menu-horizontal:before {
  content: '\f125';
}
.icon-menu-vertical:before {
  content: '\f126';
}
.icon-menu:before {
  content: '\f127';
}
.icon-minus:before {
  content: '\f128';
}
.icon-navigation:before {
  content: '\f129';
}
.icon-nutshell:before {
  content: '\f12a';
}
.icon-package:before {
  content: '\f12b';
}
.icon-plus:before {
  content: '\f12c';
}
.icon-refresh:before {
  content: '\f12d';
}
.icon-search:before {
  content: '\f12e';
}
.icon-security:before {
  content: '\f12f';
}
.icon-settings:before {
  content: '\f130';
}
.icon-statistics:before {
  content: '\f131';
}
.icon-tag:before {
  content: '\f132';
}
.icon-time:before {
  content: '\f133';
}
.icon-trash:before {
  content: '\f134';
}
.icon-twitter:before {
  content: '\f135';
}
.icon-users:before {
  content: '\f136';
}
.icon-warning:before {
  content: '\f137';
}
.icon-wheel:before {
  content: '\f138';
}
