@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter';
}

.flex {
  margin: 32px 0;
  display: flex;
  column-gap: 8px;

  @media screen and(max-width: 800px) {
    display: block;
  }
}

body {
  line-height: 1.25;
}
