.input--textarea {
  .input__inner {
    .input__element--textarea {
      height: auto;
      padding: 12px;
    }
  }

  &.input--size-large {
    .input__element--textarea {
      padding: 16px 12px;
    }
  }

  &.input--size-small {
    .input__element--textarea {
      padding: 8px 8px;
    }
  }
}
