* {
  box-sizing: border-box;
}

:root {
  --color-default: #2e84f5;
  --color-default--disabled: #7bb1f8;
  --color-error: #d6274d;
  --color-text: #000;
  --color-body: #ffffff;
  --color-border: #e2e2e2;
  --color-input-border: var(--color-border);
  --color-input-border--hover: #c7c7c7;
  --color-input-border--focus: var(--color-default);
  --color-input-border--disabled: var(--color-border);
  --color-input-text: var(--color-text);
  --color-input-text--placeholder: var(--color-input-border--hover);
  --color-input-text--disabled: var(--color-border);
  --color-checkbox-fill: var(--color-input-border--focus);
  --color-checkbox-fill--disabled: var(--color-default--disabled);
  --color-divider: var(--color-border);
  --color-loading: var(--color-default);
  --color-loading-background: #d4cfdd;
  --color-button-text: #fff;
  --color-button-background: var(--color-default);
  --color-button-background--disabled: var(--color-default--disabled);
  --color-button-background--hover: #2e7be0;
  --color-button-background--active: #2c71ca;

  --color-datepicker-alternate-row: #f6f8fa;

  --color-toast-progress: var(--color-default);
  --color-toast-progress-background: var(--color-loading-background);

  --shadow-input: inset 0 2px 4px 0 #ced1e033;
  --shadow-modal: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
  --shadow-toast: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;

  --border-radius: 4px;
}
