.input.input--select {
  .input__inner {
    .input__element--select {
      padding-right: 55px;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      @-moz-document url-prefix() {
        padding-left: 8px;
      }

      .select__option {
        font-family: revert;
        cursor: pointer;
        padding: 0;
      }
    }

    .select__icon {
      line-height: 1;
      display: flex;
      position: absolute;
      align-items: center;
      max-width: 48px;
      padding: 0 16px 0 14px;
      right: 0;
      top: 1px;
      height: calc(100% - 2px);
      border-left: 1px solid var(--color-input-border);
      pointer-events: none;
      svg {
        fill: var(--color-input-text--placeholder);
        max-width: 16px;
        height: 100%;
      }
    }

    .input__error_icon--select {
      right: 46px;
    }
  }
}
