
.select {
  display: block;
  position: relative;
  margin: 4px 0 12px 0;
  min-width: 100px;

  .select__inner {
    position: relative;
    .select__element {
      font-family: revert;
      /* HTML Input */
      margin: 0;
      width: 100%;
      padding: 12px;
      padding-right: 55px;

      font-family: inherit;
      font-size: inherit;

      cursor: pointer;

      box-shadow: var(--shadow-input);

      border-radius: var(--border-radius);
      border: 1px solid var(--color-input-border);

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      @-moz-document url-prefix() {
        font-family: 'Inter';
        padding-left: 8px !important;
      }

      .select__option {
        cursor: pointer;
        padding: 0;
      }

      &:disabled {
        color: var(--color-input-text--disabled);
      }

      &::placeholder {
        color: var(--color-input-text--placeholder);
      }

      &:hover {
        border-color: var(--color-input-border--hover);
      }

      &:focus {
        border-color: var(--color-input-border--focus);
      }
    }

    .select__icon {
      line-height: 1;
      display: flex;
      position: absolute;
      align-items: center;
      max-width: 48px;
      padding: 0 16px 0 14px;
      right: 0;
      top: 1px;
      height: calc(100% - 2px);
      border-left: 1px solid var(--color-input-border);
      pointer-events: none;
      svg {
        fill: var(--color-input-text--placeholder);
        max-width: 16px;
        height: 100%;
      }
    }

    .select__error_icon {
      display: flex;
      position: absolute;
      align-items: center;
      max-width: 48px;
      padding: 0 16px 0 14px;
      right: 46px;
      top: 1px;
      height: calc(100% - 2px);
      pointer-events: none;
      svg {
        fill: var(--color-error);
        max-width: 16px;
        max-height: 16px;
        height: 100%;
      }
    }
  }

  &.select--error {
    .select__element,
    .select__element:hover,
    .select__element:focus {
      border-color: var(--color-error);
    }
  }

  &.select--size-large {
    .select__inner {
      .select__element {
        padding: 16px 12px;
        padding-right: 55px;
      }
    }
  }

  &.select--size-small {
    .select__inner {
      .select__element {
        padding: 8px 12px;
        padding-right: 55px;
        @-moz-document url-prefix() {
          padding-left: 4px !important;
        }
      }
    }
  }
}
