$button--background: rgb(226, 226, 226);
$button--hover-background: rgb(209, 209, 209);
$button--active-background: rgb(199, 199, 199);

.button {
  display: flex;
  justify-content: right;
  background: transparent;

  &.button--small {
    .button__element {
      font-size: 14px;
      padding: 6px 14px;
    }
  }
  &.button--default {
    .button__element {
      padding: 10px 20px;
    }
  }
  &.button--large {
    .button__element {
      font-size: 17px;
      padding: 14px 26px;
    }
  }

  &.button--icon-align-left {
    &.button--default {
      .button__text {
        margin-left: 6px;
      }
    }
    &.button--large {
      .button__text {
        margin-left: 10px;
      }
    }
  }
  &.button--icon-align-right {
    &.button--default {
      .button__text {
        margin-right: 6px;
      }
    }
    &.button--large {
      .button__text {
        margin-right: 10px;
      }
    }
    .button__element {
      flex-direction: row-reverse;
    }
  }

  &.button--fill-always {
    width: 100%;
  }
  &.button--fill-auto {
    @media screen and(max-width: 760px) {
      width: 100%;
    }
  }

  .button__icon,
  .button__loading {
    width: 100%;
    height: 100%;
  }

  .loading {
    position: absolute;
    padding: 6px;
  }

  .button__element {
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 3px;
    background-color: $button--background;
    line-height: 1;

    &:hover {
      background-color: $button--hover-background;
    }

    &:active {
      background-color: $button--active-background;
    }
  }
}
