$red: rgb(214, 39, 77);
$input--shadow: inset 0 2px 4px 0 #ced1e033;
$input--border: 1px solid rgb(226, 226, 226);

$input--hover-border: rgb(209, 209, 209);
$input--focus-border: rgb(136, 136, 136);

$input--placeholder-text: gray;
$input--disabled-text: lightgray;

@keyframes shake {
  /* Input validation error shake */
  10% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(4px);
  }
}

.form--root {
  .button--root {
    margin-top: 24px;
  }
}

.input--root,
.select--root,
.textarea--root,
.checkbox--root,
.date-picker--root,
.phone-input--root {
  display: flex;
  .input,
  .select,
  .textarea,
  .checkbox,
  .date-picker,
  .phone-input {
    position: relative;
    width: 100%;
    margin: 4px 0 12px 0;

    .input--label,
    .select--label,
    .textarea--label,
    .checkbox--label,
    .date-picker--label,
    .phone-input--label {
      /* Label */
      line-height: 1.35;
      display: flex;
      font-weight: 500;
      margin: 2px 0 0 0;
      padding-bottom: 4px;
    }

    .input--description,
    .select--description,
    .textarea--description,
    .date-picker--description,
    .phone-input--description {
      /* Above input field */
      margin-bottom: 12px;
      margin-top: 8px;
    }

    .input--description-below,
    .select--description-below,
    .textarea--description-below,
    .date-picker--description-below,
    .phone-input--description-below {
      /* Below input field */
      margin-top: 6px;
      margin-bottom: 0;

      font-size: 14px;
      line-height: 22px;
    }

    .input--error,
    .select--error,
    .textarea--error,
    .date-picker--error,
    .phone-input--error {
      display: block;
      margin-top: 4px;
      margin-bottom: 0;

      font-size: 14px;
      line-height: 22px;
      color: $red;
    }

    .mx-datepicker,
    .mx-input-wrapper {
      i {
        padding: 13px 15px;
        max-width: 48px;
        width: 100%;
        height: calc(100% - 2px);
        right: 0;
        align-items: center;
        border-left: 1px solid $input--border;
      }
      width: 100%;
    }

    .input--html-element,
    .select--html-element,
    .textarea--html-element,
    .date-picker--html-element,
    .phone-input--html-element {
      position: relative;
      input,
      select,
      textarea {
        /* HTML Input */
        width: 100%;
        margin: 0;
        padding: 12px;

        box-shadow: $input--shadow;

        border-radius: 3px;
        border: $input--border;

        &:disabled {
          color: $input--disabled-text;
        }

        &::placeholder {
          color: $input--placeholder-text;
        }

        &:hover {
          border-color: $input--hover-border;
        }

        &:focus {
          border-color: $input--focus-border;
        }
      }

      .input--error-icon,
      .select--error-icon,
      .textarea--error-icon {
        position: absolute;
        align-items: center;
        padding: 14px 14px;
        max-width: 48px;
        right: 0px;
        top: 1px;
        pointer-events: none;
        svg {
          fill: $red;
          max-width: 18px;
          height: 100%;
        }
        &.select--error-icon {
          right: 46px;
        }
      }
    }

    /* Select-specific rules */
    &.select {
      /* Wrapper for select HTML element */
      .select--html-element {
        position: relative;

        select {
          padding-top: 13px;
          padding-bottom: 13px;

          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: transparent;
          @-moz-document url-prefix() {
            padding-left: 8px;
          }
          option {
            padding: 0;
          }
        }
        .select--icon {
          position: absolute;
          align-items: center;
          padding: 14px 14px;
          max-width: 48px;
          right: 0;
          top: 1px;
          height: calc(100% - 2px);
          border-left: 1px solid $input--border;
          pointer-events: none;
          svg {
            max-width: 18px;
            height: 100%;
          }
        }
      }
    }

    &.checkbox {
      display: inline-flex;
      user-select: none;
      .checkbox--label {
        align-items: center;
        padding: 2px 0;
        margin: 0;
        height: 100%;
        cursor: pointer;
        &:last-of-type {
          padding-left: 6px;
        }
      }

      .checkbox--handle-box {
        display: flex;
        justify-content: center;
        box-shadow: $input--shadow;
        border: $input--border;
        min-height: 26px;
        min-width: 26px;
        max-height: 26px;
        max-width: 26px;
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        border-radius: var(--border-radius);
        svg {
          transition: all 0.1s ease;
          fill: transparent;
          width: 18px;
        }
      }

      &:hover:not(.--checked) {
        .checkbox--handle-box {
          svg {
            fill: var(--gray200);
          }
        }
      }

      input {
        visibility: hidden;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        &:checked {
          + .checkbox--handle-box {
            background: $input--focus-border;
            svg {
              fill: #fff;
            }
          }
        }
      }
    }

    /* Textarea-specific rules */
    &.textarea {
      textarea {
        max-width: 100%;
      }
    }

    &.input--has-error,
    &.select--has-error,
    &.textarea--has-error,
    &.date-picker--has-error,
    &.phone-input--has-error {
      input,
      select,
      textarea {
        animation: shake 0.2s ease;
        border-color: $red;
      }
    }
  }
}
