
$size--large: 48px;
$size--default: 36px;
$size--small: 24px;

.loading {
  border-left: 1px solid $color-loading;
  border-top: 1px solid $color-loading;
  border-bottom: 3px solid $color-loading-background;
  border-right: 3px solid $color-loading-background;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  animation: loading 0.75s linear infinite;

  &.loading--size-large,
  &.loading--size-button-large {
    border-width: 4px;
    width: $size--large;
    height: $size--large;
  }

  &.loading--size-default,
  &.loading--size-button-default {
    border-width: 3px;
    width: $size--default;
    height: $size--default;
  }

  &.loading--size-small {
    border-width: 2px;
    width: $size--small;
    height: $size--small;
  }

  &.loading--size-button-small {
    border-width: 2px;
    width: 14px;
    height: 14px;
  }

  &.loading--size-button-default {
    border-width: 2px;
    width: 20px;
    height: 20px;
  }

  &.loading--size-button-large {
    border-width: 2px;
    width: 22px;
    height: 22px;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
