.chip {
  border-radius: 32px;
  background-color: var(--color-default);
  color: #fff;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 2px 7px;
  line-height: 1.25;

  .chip__icon {
    + .chip__text {
      margin-left: 4px;
    }
  }
}
