$button--background: rgb(226, 226, 226);
$button--disabled-background: rgb(236, 236, 236);
$button--disabled-color: rgb(168, 168, 168);
$button--hover-background: rgb(209, 209, 209);
$button--active-background: rgb(199, 199, 199);

.button {
  display: flex;
  align-items: center;
  justify-content: right;
  background: transparent;

  &.button--size-small {
    .button__element {
      font-size: 15px;
      padding: 6px 12px;
    }
    &.button--icon-align-left {
      .button__text {
        padding-left: 8px;
      }
    }
    &.button--icon-align-right {
      .button__text {
        padding-right: 8px;
      }
    }
  }

  &.button--size-default {
    .button__element {
      padding: 12px 24px;
    }
    &.button--icon-align-left {
      .button__text {
        padding-left: 8px;
      }
    }
    &.button--icon-align-right {
      .button__text {
        padding-right: 8px;
      }
    }
  }

  &.button--size-large {
    .button__element {
      font-size: 18px;
      padding: 14px 32px;
    }
    &.button--icon-align-left {
      .button__text {
        padding-left: 8px;
      }
    }
    &.button--icon-align-right {
      .button__text {
        padding-right: 8px;
      }
    }
  }

  &.button--icon-align-right {
    .button__element {
      flex-direction: row-reverse;
    }
  }

  .button__text {
    display: block;
  }

  .button__loading {
    position: absolute;
  }

  &.button--loading {
    .button__text,
    .button__icon {
      opacity: 0;
    }
  }

  .button__element {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 3px;
    background-color: $button--background;
    line-height: 1;

    &:hover {
      background-color: $button--hover-background;
    }

    &:active {
      background-color: $button--active-background;
    }

    &:disabled {
      cursor: default;
      background-color: $button--disabled-background;
      color: $button--disabled-color;
    }
  }
}
