@import './form.scss';

.mx-icon-calendar {
  display: none !important;
}

.datepicker,
.timepicker {
  display: block;
  position: relative;
  margin: 4px 0 12px 0;
  min-width: 100px;

  .datepicker__inner,
  .timepicker__inner {
    position: relative;
    .mx-input {
      /* HTML Input */
      margin: 0;
      width: 100%;
      padding: 12px;

      cursor: pointer;

      box-shadow: $input--shadow;

      border-radius: 3px;
      border: $input--border;
      &:disabled {
        color: $input--disabled-text;
      }

      &::placeholder {
        color: $input--placeholder-text;
      }

      &:hover {
        border-color: $input--hover-border;
      }

      &:focus {
        border-color: $input--focus-border;
      }
    }

    .datepicker__icon,
    .timepicker__icon {
      line-height: 1;
      display: flex;
      position: absolute;
      align-items: center;
      max-width: 48px;
      padding: 0 16px 0 14px;
      right: 0;
      top: 1px;
      height: calc(100% - 2px);
      border-left: $input--border;
      pointer-events: none;
      svg {
        fill: $input--focus-border;
        max-width: 16px;
        height: 100%;
      }
    }

    .select__error_icon {
      position: absolute;
      align-items: center;
      padding: 14px 14px;
      max-width: 48px;
      right: 46px;
      top: 1px;
      pointer-events: none;
      svg {
        fill: $red;
        max-width: 16px;
        height: 100%;
      }
    }
  }

  &.input--size-large {
    .datepicker__inner,
    .timepicker__inner {
      .datepicker__element,
      .timepicker__element {
        input {
          padding: 16px 12px;
        }
      }
    }
  }

  &.input--size-small {
    .datepicker__inner,
    .timepicker__inner {
      .datepicker__element,
      .timepicker__element {
        input {
          padding: 8px 12px;
        }
      }
    }
  }
}

$namespace: 'mx';

.#{$namespace}-btn {
  box-sizing: border-box;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: lightgray;
  white-space: nowrap;
  &:hover {
    border-color: $input--focus-border;
    color: $input--focus-border;
  }
}

.#{$namespace}-btn-text {
  border: 0;
  padding: 0 4px;
  text-align: left;
  line-height: inherit;
}

.#{$namespace}-datepicker-header {
  padding: 6px 8px;
  border-bottom: $input--border;
}

.#{$namespace}-datepicker-footer {
  padding: 6px 8px;
  text-align: right;
  border-top: $input--border;
}

.#{$namespace}-calendar {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
  border: $input--border;
  font-size: 14px;
  box-sizing: border-box;
  width: 248px;
  padding: 6px 12px;
  & + & {
    border-left: $input--border;
  }
}

.#{$namespace}-calendar-header {
  box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
}

.#{$namespace}-btn-icon-left,
.#{$namespace}-btn-icon-double-left {
  float: left;
}
.#{$namespace}-btn-icon-right,
.#{$namespace}-btn-icon-double-right {
  float: right;
}

.#{$namespace}-calendar-header-label {
  font-size: 14px;
}

.#{$namespace}-calendar-decade-separator {
  margin: 0 2px;
  &:after {
    content: '~';
  }
}

.#{$namespace}-calendar-content {
  position: relative;
  height: 224px;
  box-sizing: border-box;
  .cell {
    cursor: pointer;
    &:hover {
      background-color: $input--hover-border;
    }
    &.active {
      color: #fff;
      background-color: $input--focus-border;
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.#{$namespace}-calendar-week-mode {
  .#{$namespace}-date-row {
    cursor: pointer;
    &:hover {
      background-color: $input--hover-border;
    }
    &.#{$namespace}-active-week {
      background-color: $input--hover-border;
    }
    .cell {
      &:hover {
        color: inherit;
        background-color: transparent;
      }
      &.active {
        color: inherit;
        background-color: transparent;
      }
    }
  }
}

.#{$namespace}-week-number {
  opacity: 0.5;
}

.#{$namespace}-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  th {
    padding: 0;
    font-weight: 500;
  }
  td {
    padding: 0;
  }
}

.#{$namespace}-table-date {
  td,
  th {
    height: 32px;
    font-size: 12px;
  }

  .today {
    color: blue;
  }
  .cell.not-current-month {
    opacity: 0.25;
  }
}

.#{$namespace}-time {
  flex: 1;
  width: 224px;
  background: #fff;
  & + & {
    border-left: $input--border;
  }
}
.#{$namespace}-calendar-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.#{$namespace}-time-header {
  @extend .#{$namespace}-calendar-header;
  border-bottom: $input--border;
}

.#{$namespace}-time-content {
  height: 224px;
  box-sizing: border-box;
  overflow: hidden;
}

.#{$namespace}-time-columns {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.#{$namespace}-time-column {
  flex: 1;
  position: relative;
  border-left: $input--border;
  text-align: center;

  &:first-child {
    border-left: 0;
  }
  .#{$namespace}-time-list {
    margin: 0;
    padding: 0;
    list-style: none;
    &::after {
      content: '';
      display: block;
      height: 32 * 6px;
    }
  }
  .#{$namespace}-time-item {
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    &:hover {
      background-color: $input--hover-border;
    }
    &.active {
      color: #fff;
      background-color: $input--focus-border;
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.#{$namespace}-time-option {
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    background-color: $input--hover-border;
  }
  &.active {
    color: #fff;
    background-color: $input--focus-border;
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.#{$namespace}-icon-left:before,
.#{$namespace}-icon-right:before,
.#{$namespace}-icon-double-left:before,
.#{$namespace}-icon-double-right:before,
.#{$namespace}-icon-double-left:after,
.#{$namespace}-icon-double-right:after {
  content: '';
  position: relative;
  top: -1px;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-style: solid;
  border-color: currentColor;
  border-width: 2px 0 0 2px;
  border-radius: 1px;
  box-sizing: border-box;
  transform-origin: center;
  transform: rotate(-45deg) scale(0.7);
}

.#{$namespace}-icon-double-left:after {
  left: -4px;
}

.#{$namespace}-icon-double-right:before {
  left: 4px;
}

.#{$namespace}-icon-right:before,
.#{$namespace}-icon-double-right:before,
.#{$namespace}-icon-double-right:after {
  transform: rotate(135deg) scale(0.7);
}

.#{$namespace}-scrollbar {
  height: 100%;
  &:hover {
    .#{$namespace}-scrollbar-track {
      opacity: 1;
    }
  }
}

.#{$namespace}-scrollbar-wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.#{$namespace}-scrollbar-track {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 6px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.24s ease-out;
  .#{$namespace}-scrollbar-thumb {
    position: absolute;
    width: 100%;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144, 147, 153, 0.3);
    transition: background-color 0.3s;
  }
}

.mx-time-column .mx-time-list::after {
  height: 0;
}
