$divider--color: 1px solid rgb(226, 226, 226);

.divider {
  display: flex;
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;

  &:not(.divider--text) {
    background-color: $divider--color;
  }

  &.divider--text {
    align-items: center;
    text-transform: uppercase;

    > div:nth-of-type(2) {
      flex: 0 1 1;
      margin: 0 12px;

      align-self: center;
      text-align: center;

      color: $divider--color;
      font-size: 12px;
      font-weight: 600;
    }

    > div:not(:nth-of-type(2)) {
      flex-grow: 1;
      height: 1px;
      margin-top: 16px;
      margin-bottom: 16px;

      background-color: $divider--color;
    }
  }
}
