$red: rgb(214, 39, 77);
$input--shadow: inset 0 2px 4px 0 #ced1e033;
$input--border: 1px solid rgb(226, 226, 226);

$input--hover-border: rgb(209, 209, 209);
$input--focus-border: rgb(136, 136, 136);

$input--placeholder-text: gray;
$input--disabled-text: lightgray;

@keyframes shake {
  /* Input validation error shake */
  10% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(4px);
  }
}

.form--root {
  .button--root {
    margin-top: 24px;
  }
}
