$red: rgb(214, 39, 77);
$input--shadow: inset 0 2px 4px 0 #ced1e033;
$input--border: 1px solid rgb(226, 226, 226);

$input--hover-border: rgb(209, 209, 209);
$input--focus-border: rgb(136, 136, 136);

$input--placeholder-text: gray;
$input--disabled-text: lightgray;

@keyframes shake {
  /* Input validation error shake */
  10% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(4px);
  }
}

.input__label {
  /* Label */
  line-height: 1.35;
  display: flex;
  font-weight: 500;
  margin: 2px 0 0 0;
  padding-bottom: 4px;
}

.input__description {
  /* Above input field */
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
  margin-top: 2px;
}

.input__description_below {
  /* Below input field */
  margin-top: 6px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 18px;
}

.input__error {
  display: block;
  margin-top: 4px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 22px;
  color: $red;
}
