@import './form.scss';

.select {
  display: block;
  position: relative;
  margin: 4px 0 12px 0;
  min-width: 100px;

  .select__inner {
    position: relative;
    .select__element {
      /* HTML Input */
      margin: 0;
      width: 100%;
      padding: 12px;

      cursor: pointer;

      box-shadow: $input--shadow;

      border-radius: 3px;
      border: $input--border;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      @-moz-document url-prefix() {
        font-family: 'Inter';
        padding-left: 8px !important;
      }

      .select__option {
        cursor: pointer;
        padding: 0;
      }

      &:disabled {
        color: $input--disabled-text;
      }

      &::placeholder {
        color: $input--placeholder-text;
      }

      &:hover {
        border-color: $input--hover-border;
      }

      &:focus {
        border-color: $input--focus-border;
      }
    }

    .select__icon {
      line-height: 1;
      display: flex;
      position: absolute;
      align-items: center;
      max-width: 48px;
      padding: 0 16px 0 14px;
      right: 0;
      top: 1px;
      height: calc(100% - 2px);
      border-left: $input--border;
      pointer-events: none;
      svg {
        fill: $input--focus-border;
        max-width: 16px;
        height: 100%;
      }
    }

    .select__error_icon {
      position: absolute;
      align-items: center;
      padding: 0 16px 0 14px;
      max-width: 48px;
      right: 46px;
      top: 1px;
      pointer-events: none;
      svg {
        fill: $red;
        max-width: 16px;
        height: 100%;
      }
    }
  }

  &.input--size-large {
    .select__inner {
      .select__element {
        padding: 16px 12px;
      }
    }
  }

  &.input--size-small {
    .select__inner {
      .select__element {
        padding: 8px 12px;
        @-moz-document url-prefix() {
          padding-left: 4px !important;
        }
      }
    }
  }
}
