@import './form.scss';

.select {
  display: block;
  position: relative;
  width: 100%;
  margin: 4px 0 12px 0;

  .select--label {
    /* Label */
    line-height: 1.35;
    display: flex;
    font-weight: 500;
    margin: 2px 0 0 0;
    padding-bottom: 4px;
  }

  .select--description {
    /* Above input field */
    margin-bottom: 12px;
    margin-top: 8px;
  }

  .select--description-below {
    /* Below input field */
    margin-top: 6px;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 22px;
  }

  .select--error {
    display: block;
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 22px;
    color: $red;
  }

  .select--html-element {
    position: relative;
    select {
      /* HTML Input */
      width: 100%;
      margin: 0;
      padding: 12px;

      box-shadow: $input--shadow;

      border-radius: 3px;
      border: $input--border;

      &:disabled {
        color: $input--disabled-text;
      }

      &::placeholder {
        color: $input--placeholder-text;
      }

      &:hover {
        border-color: $input--hover-border;
      }

      &:focus {
        border-color: $input--focus-border;
      }
    }

    .select--error-icon {
      position: absolute;
      align-items: center;
      padding: 14px 14px;
      max-width: 48px;
      right: 46px;
      top: 1px;
      pointer-events: none;
      svg {
        fill: $red;
        max-width: 18px;
        height: 100%;
      }
    }
  }

  /* Select-specific rules */
  &.select {
    /* Wrapper for select HTML element */
    .select--html-element {
      position: relative;

      select {
        padding-top: 13px;
        padding-bottom: 13px;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        @-moz-document url-prefix() {
          padding-left: 8px;
        }
        option {
          padding: 0;
        }
      }
      .select--icon {
        display: flex;
        position: absolute;
        align-items: center;
        max-width: 48px;
        padding: 0 16px;
        right: 0;
        top: 1px;
        height: calc(100% - 2px);
        border-left: $input--border;
        pointer-events: none;
        svg {
          max-width: 18px;
          height: 100%;
        }
      }
    }
  }
}
