@import './form.scss';

.textarea {
  display: block;
  position: relative;
  width: 100%;
  margin: 4px 0 12px 0;

  .textarea__inner {
    position: relative;
    textarea {
      min-width: 200px;
      min-height: 50px;
      /* HTML Input */
      width: 100%;
      max-width: 100%;

      margin: 0;
      padding: 12px;

      box-shadow: $input--shadow;

      border-radius: 3px;
      border: $input--border;

      &:disabled {
        color: $input--disabled-text;
      }

      &::placeholder {
        color: $input--placeholder-text;
      }

      &:hover {
        border-color: $input--hover-border;
      }

      &:focus {
        border-color: $input--focus-border;
      }
    }

    .textarea__error_icon {
      position: absolute;
      align-items: center;
      padding: 14px 14px;
      max-width: 48px;
      right: 0px;
      top: 1px;
      pointer-events: none;
      svg {
        fill: $red;
        max-width: 18px;
        height: 100%;
      }
    }
  }

  &.input--size-large {
    .textarea__element {
      padding: 16px 12px;
    }
  }

  &.input--size-small {
    .textarea__element {
      padding: 8px 8px;
    }
  }
}
